{% set edoc_data = item.data.edoc.document|default(null) %}
{% set value = edoc_data.DocumentNumber %}
{% set url = edoc_data.Links.OpenDocument|default(null) %}
{% if url %}
    <a href="{{ url }}">
        {{ value }}
        {% if edoc_data.TitleText|default(null) %}
            <br/>
            {{ edoc_data.TitleText }}
        {% endif %}
    </a>
{% else %}
    {{ value }}
{% endif %}
